.header {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  &.mobile {
    display: none;
  }

  &__slide {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;

    &--slide1 {
      background-image: url("../../img/Layer -1@2x.jpg");
    }
    &--slide2 {
      background-image: url("../../img/otp-slajder-1440x855px-1.jpeg");
    }
    &--slide3 {
      background-image: url("../../img/otp_kdk_cover.jpeg");
    }
    &__text {
      height: 100%;
    }
  }
}

.header.desktop {
  @include respond(mobile) {
    display: none;
  }
}

.header.mobile {
  @include respond(mobile) {
    display: block;
  }
}
