.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &-caption {
    margin-top: var(--space-lg);
    font-size: var(--text-xl);
    @include respond(mobile) {
      font-size: 22px;
    }
  }
  &-p {
    margin-bottom: var(--space-lg);
    font-size: var(--text-sm);
  }
}
