@mixin respond($breakpoint) {
  @if $breakpoint==tablet {
    @media only screen and (min-width: 800px) and (max-width: 1200px) {
      @content;
    }
  }

  @if $breakpoint==mobile {
    @media only screen and (min-width: 320px) and (max-width: 800px) {
      @content;
    }
  }
}

@mixin container-md {
  width: 80vw;
  margin: auto;
}

@mixin container-lg {
  width: 90vw;
  margin: auto;
}

@mixin container-sm {
  width: 70vw;
  margin: auto;
}

@mixin container-xs {
  width: 50vw;
  margin: auto;
}

@mixin container-xxs {
  width: 45vw;
  margin: auto;
}
