.map {
  display: flex;
  @include respond(mobile) {
    flex-direction: column;
  }
  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 327px;
    @include respond(mobile) {
      width: 100%;
    }
    &-heading {
      color: white;
      margin-bottom: var(--space-md);
      font-size: var(--text-xl);
      @include respond(mobile) {
        font-size: 22px;
      }
    }
    &-card1 {
      background: url("../img/mapa ekspozitura1x.jpg");
      z-index: 500;
    }
    &-card2 {
      background: url("../img/online ekspozitura slika2x.jpg");
    }
    &-card2 {
      background-size: cover;
      background-position: center;
    }
  }
}
