.benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &.mobile {
    display: none;
  }
  //desktop
  &__cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: var(--space-lg);
    flex-wrap: wrap;
  }
  &__card {
    max-width: 240px;
    cursor: pointer;
    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 125px;
      height: 125px;
      margin: auto;
      border-radius: 50%;
      border: 1px solid #fafafa;
      box-shadow: 0px 3px 1px rgba(159, 159, 159, 0.3);
    }
    &-heading {
      text-transform: uppercase;
      padding-top: var(--space-lg);
      font-size: var(--text-sm);
    }
    &-p {
      padding: var(--space-md);
    }
  }
  //mobile
  &__mobile {
    width: 100%;
    &-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: var(--color-light-gray);
      border-top: var(--border-gray);
      cursor: pointer;
      &-heading {
        flex: 4;
        font-size: var(--text-sm);
        text-align: left;
        text-transform: uppercase;
      }
      &-icon {
        flex: 1;
      }
      &-heading,
      &-icon {
        padding: var(--space-sm);
      }
    }
  }
}
