.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
  min-height: 226px;
  padding-bottom: var(--space-md);
  &__heading {
    font-size: var(--text-md);
  }
  &__p {
    line-height: 1.5;
    padding: var(--space-md) 0;
  }
  &__link {
    color: var(--color-red);
    font-weight: 600;
    width: 100%;
    margin-top: auto;
    &-icon {
      margin-left: var(--space-sm);
    }
  }
}

.hero {
  justify-content: center;
  height: 100%;
  max-width: 540px;
  &__heading {
    font-size: var(--text-xxl);
    color: white;
  }
  &__p {
    font-size: var(--text-sm);
    color: white;
  }
}
